<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="static/styles/style.css">
</head>
<body>
<script>
    async function reset(event) {
        event.preventDefault()

        const password = document.getElementById('password')?.value;
        const password_confirmation = document.getElementById('password_confirmation')?.value;
        const url = new URL(window.location.href);
        const token = url.searchParams.get("token");

        const response = await fetch('https://flask.testways.online//api/v1/reset_password', {
            method: 'post',
            headers: {
                contentType: 'application/json'
            },
            body: JSON.stringify({password_confirmation, password, token})
        }).then((response) => {
            return response.json();
        })

        const error = document.getElementById('error')
        const errorText = document.getElementById('error-text')

        if (response.hasOwnProperty('message')) {
            error.classList.remove('hidden')
            errorText.innerHTML = response.message
        } else {
            error.classList.add('hidden')
            errorText.innerHTML = ''
            document.location.href = '/login'
        }
    }
</script>
<div class="container">
    <div id="form" class="login">
        <h2>
            Reset password
        </h2>
        <div class="login__input">
            <div>
                Password
            </div>
            <div class="d-flex">
                <input type="email" id="password" name="email">
            </div>
        </div>
        <div class="login__input">
            <div>
                Repeat password
            </div>
            <div class="d-flex">
                <input type="email" id="password_confirmation" name="email">
            </div>
        </div>
        <div id="error" class="login__input error hidden">
            <p id="error-text" class="error__text">
                Error
            </p>
        </div>
        <div class="login__input d-flex justify-end">
            <a href="/login" >
                Login
            </a>
        </div>
        <div class="login__input">
            <div class="d-flex">
                <button id="submit-btn" class="full-width" onclick="reset(event)">Submit</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>